<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>image_0.jpg</string>
	<string>image_1.jpg</string>
	<string>image_2.jpg</string>
	<string>image_3.jpg</string>
	<string>image_4.jpg</string>
	<string>image_5.jpg</string>
	<string>image_6.jpg</string>
	<string>image_7.jpg</string>
	<string>image_8.jpg</string>
	<string>image_9.jpg</string>
</array>
</plist>
